<footer id="footer"><!--Footer-->
  <div class="footer-top">
  {% if settings.footer_top == true %}
  {{settings.footer_top_text}}
  {%endif%}
  </div>
  <div class="footer-widget">
    <div class="container">
      <div class="row">



        {% comment note:
          Loop the footer settings and check if we have content for each col.
          If we do then build up that content and display it
         %}{% endcomment %}

        {% capture footer_content %}{% endcapture %}
        {% assign max_col_count = 0 %}

        {% for i in (1..4) %}

          {% capture footer_col_content %}{% endcapture %}
          {% assign footer_col = 'footer_col_' | append: forloop.index %}

          {% assign footer_col_text_key = footer_col | append: '_text' %}
          {% assign footer_col_text = settings[footer_col_text_key] %}

          {% assign footer_col_blog_key = footer_col | append: '_blog' %}
          {% assign footer_col_blog_setting = settings[footer_col_blog_key] %}
          {% assign footer_col_blog = blogs[footer_col_blog_setting] %}

          {% assign footer_col_linklist_key = footer_col | append: '_linklist' %}
          {% assign footer_col_linklist_setting = settings[footer_col_linklist_key] %}
          {% assign footer_col_linklist = linklists[footer_col_linklist_setting] %}

          {% assign footer_col_social_key = footer_col | append: '_social' %}
          {% assign footer_col_social = settings[footer_col_social_key] %}

          {% assign footer_col_newsletter_key = footer_col | append: '_newsletter' %}
          {% assign footer_col_newsletter = settings[footer_col_newsletter_key] %}

          {% assign footer_col_payment_icons_key = footer_col | append: '_payment_icons' %}
          {% assign footer_col_payment_icons = settings[footer_col_payment_icons_key] %}
          {% if footer_col_payment_icons and shop.enabled_payment_types.size == 0 %}
            {% assign footer_col_payment_icons = false %}
          {% endif %}

          {% if footer_col_text != blank or footer_col_blog.articles != blank or footer_col_linklist.links != blank or footer_col_social or footer_col_newsletter or footer_col_payment_icons %}
            {% comment note: We have footer content so collect it %}{% endcomment %}

            {% if footer_col_text != blank %}
              {% capture footer_col_content %}
                <div class="footer-text">
                  <div class="single-widget">
                    {{ footer_col_text }}
                  </div>
                </div>
              {% endcapture %}
            {% endif %}

            {% if footer_col_blog.articles != blank %}
              {% capture footer_col_content %}
                {{ footer_col_content }}
                <div class="footer-blog">
                  <div class="single-widget">
                    {% include 'site_blog_list' with footer_col_blog %}
                  </div>
                </div>
              {% endcapture %}
            {% endif %}

            {% if footer_col_linklist.links != blank %}
              {% capture footer_col_content %}
                {{ footer_col_content }}
                <div class="footer-linklist">
                  <div class="single-widget">
                  {% unless footer_col_linklist.title == 'Footer' %}
                  <h2>{{ footer_col_linklist.title }}</h2>
                  {% endunless %}
                  {% comment note:
                    Nav list accepts the string name of the link_list, not the link_list object
                    We also disable dropdowns here
                   %}{% endcomment %}
                  {% include 'link_list' with footer_col_linklist_setting %}
                    </div>
                </div>
              {% endcapture %}
            {% endif %}

            {% if footer_col_social %}
              {% capture footer_col_content %}
                {{ footer_col_content }}
                <div class="footer-social single-widget">

                  {% capture social_links_title %}{{ 'social_and_newsletter.social_links.title' | t }}{% endcapture %}
                  {% unless social_links_title == blank %}<h2>{{ social_links_title }}</h2>{% endunless %}
                  {% include 'site_social_links' %}

                </div>
              {% endcapture %}
            {% endif %}

            {% if footer_col_newsletter %}
              {% capture footer_col_content %}
                {{ footer_col_content }}
                <div class="footer-newsletter">
                  <div class="single-widget">
                  {% capture newsletter_title %}{{ 'social_and_newsletter.newsletter.title' | t }}{% endcapture %}
                  {% unless newsletter_title == blank %}<h2>{{ newsletter_title }}</h2>{% endunless %}
                  {% include 'site_newsletter_form' %}
                </div>
              </div>
              {% endcapture %}
            {% endif %}

            {% if footer_col_payment_icons %}
              {% capture footer_col_content %}
                {{ footer_col_content }}
                <div class="footer-payment-icons">
                  {% for type in shop.enabled_payment_types %}
                    <img src="{{ type | payment_type_img_url }}" />
                  {% endfor %}
                </div>
              {% endcapture %}
            {% endif %}

            {% assign max_col_count = forloop.index %}
          {% endif %}

          {% comment note:
            Capture each col weather it has content or not so we can include empty cols if they are in between ones with content.
           %}{% endcomment %}

          {% capture footer_content %}
            {% unless footer_content == blank %}{{ footer_content }}[SPLIT]{% endunless %}
            <div class="footer-col-{{ forloop.index }}">
              {{ footer_col_content }}
            </div>
          {% endcapture %}
        {% endfor %}

        {% comment note:
          Output col up to the max col so that we get blank ones if they exist in between ones with content
          but not if they are blank _after_ the content
         %}{% endcomment %}
        {% if max_col_count > 0 %}
        <section class="footer-content" data-col-count="{{ max_col_count }}">
          <div class="sheet">
            <div class="sheet-content">
              {% assign footer_contents = footer_content | split: '[SPLIT]' %}
              {% for i in (1..max_col_count) %}
                {{ footer_contents[forloop.index0] }}
              {% endfor %}
            </div>
          </div>
        </section>
        {% endif %}







      </div>
    </div>
  </div>
{% if settings.footer_bottom == true %}
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <p class="pull-left">
          {% if settings.copy_right == blank %}
            Copyright &copy;{{ 'now' | date: '%Y' }}&nbsp;<a href="/" title="{{ shop.name }}">{{ shop.name | replace: ' ', '&nbsp;' }}</a>. All rights reserved.
            {% else %}
                {{settings.copy_right}}
            {% endif %}
          </p>
        <p class="pull-right">Designed by <span><a target="_blank" href="http://wpfreelance.in">WPFreelance</a></span></p>
      </div>
    </div>
  </div>
  {%endif%}

</footer><!--/Footer-->
